{% extends "base.html" %}
{% block content %}
<h1>Игры</h1>
{% if current_user.is_authenticated %}
<a href="news" class="btn btn-secondary">Добавить игру</a>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">
    <a href="/game/{{ item.id }}"><h2>{{item.title}}</h2></a>
    <div>
        {{item.content}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
    <div>
        Пользователь - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
</div>
{% endfor %}
{% endblock %}