<!doctype html>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
<font face="Comic Sans MS">
<!doctype html>
<title>Загрузить файлы</title>
<h1>Загрузить файлы</h1>
<form action="" method=post enctype=multipart/form-data>
    <p><input type=file name=immage accept=".png">
      <input type=file name=torrent accept=".torrent">
      <input type=submit value=Upload>
</form>
</font>
<style>
  body{
   background-image:url(static/img/image.jpg);

   background: url(static/img/im age.jpg);
}
</style>