{% extends "base.html" %}

{% block content %}
<font face="Comic Sans MS">
    <h1>Авторизация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
   <style>
  body{height:100%;
   width:100%;
   background-image:url(static/img/image.jpg);
   background-repeat:no-repeat;
   background-size:cover;

   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/img/image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/img/image.jpg',sizingMethod='scale')";
}
</style>
</font>
{% endblock %}