{% extends "base.html" %}

{% block content %}
<font face="Comic Sans MS">
<h1>Добавление игры</h1>
<style>
  body{height:100%;
   width:100%;
   background-image:url(static/img/image.jpg);
   background-repeat:no-repeat;
   background-size:cover;

   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/img/image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/img/image.jpg',sizingMethod='scale')";
}
</style>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form></font>
{% endblock %}